<html>
    <head>
        <title>Files</title>
    </head>
    <body>
        <h1>Files:</h1>
        <hr/>
        #for  $file in $files
            <p><a href="index?view=filedetail&file=$file.id">$file.name</a></p>
        #end for
    </body>
</html>
