<html>
    <head>
        <title>File details</title>
    </head>
    <body>
        <small><a href="index?view=projectlist">Home</a></small>>
        <small><a href="index?view=projectdetail&project=$file.project.id">$format($file.project.name) ($format($file.project.version))</a></small> >
        <small><u>$format($file.name)</u></small>        
        <h1>File details</h1>
        <hr/>
        <h2>Properties:</h2>
        <table border="0">
            <tr><td align="right">Name : </td><td>$format($file.name)</td></tr>
        </table>
        <hr/>
        <h2>Strings:</h2>
        #for  $original in $file.getOriginals()
            #set $displayname = $original.getStripped()
            #if len($displayname) > 40
                <p><a href="index?view=stringdetail&original=$original.id">$format($displayname[:40]) ...</a></p>
            #else
                <p><a href="index?view=stringdetail&original=$original.id">$format($displayname)</a></p>
            #end if   
            <br/>         
        #end for
    </body>
</html>
