<html>
    <head>
        <title>Project</title>
    </head>
    <body>
        <small><a href="index?view=projectlist">Home</a></small>>
        <small><u>$format($project.name) ($format($project.version))</u></small>        
        <h1>Project files:</h1>
        <hr/>
        #for  $file in $project.getFiles()
            <p><a href="index?view=filedetail&file=$file.id">$format($file.name)</a></p>
        #end for
    </body>
</html>
